<h1> Update Movie </h1>

<form action = "http://localhost:3000/movies/update_movie/<%= @movie.id %>" >

<div>
<label>Image:</label>
<input value = "<%= @movie.image_url %>" type="text" name="the_image">
</div>

<div>
<label>Title:</label>
<input value = "<%= @movie.title %>" type="text" name="the_title">
</div>

<div>
<label>Year:</label>
<input value = "<%= @movie.year %>" type="text" name="the_year">
</div>

<div>
<label>Duration:</label>
<input value = "<%= @movie.duration %>" type="text" name="the_duration">
</div>

<div>
<label>Description:</label>
<input value = "<%= @movie.description %>" type="text" name="the_description">
</div>

<div>
<button>Update Movie</button>
</div>

</form>